@inject NavigationManager NavigationManager
@implements IDisposable

<div
        @onclick="ToggleMenu"
        style="@(_menuExpanded ? "" : "display:none;")"
        class="nav-sm-overlay">

</div>

<div class="top-menu">
    <div>Blazor Datasheet</div>
    <div class="expand-menu" @onclick="ToggleMenu">
        <div class="hm"></div>
        <div class="hm"></div>
        <div class="hm"></div>
    </div>
</div>

<div class="side-menu @(_menuExpanded ? "is-expanded" : "")">
    <NavLink href="" Match="NavLinkMatch.All">
        <div class="menu-heading">
            <div style="margin-left: 1rem;">Blazor Datasheet</div>
        </div>
    </NavLink>

    <p class="menu-label">Getting Started</p>
    <ul class="menu-list">
        <MenuLink Href="Installation" Text="Installation"/>
        <MenuLink Href="SimpleExample" Text="Basics"/>
    </ul>
    <p class="menu-label">Data</p>
    <ul class="menu-list">
        <MenuLink Href="CellsAndCellValues" Text="Cells and Cell Values"/>
        <MenuLink Href="DataValidation" Text="Data Validation"/>
        <MenuLink Href="Sorting" Text="Sorting"/>
        <MenuLink Href="ColumnFilters" Text="Column Filters"/>
        <MenuLink Href="Commands" Text="Commands"/>
    </ul>
    <p class="menu-label">Formatting</p>
    <ul class="menu-list">
        <MenuLink Href="BasicFormatting" Text="Basic Formatting"/>
        <MenuLink Href="ConditionalFormatting" Text="Conditional Formatting"/>
    </ul>
    <p class="menu-label">Customisation</p>
    <ul class="menu-list">
        <MenuLink Href="CustomRendererAndEditor" Text="Custom Renderer/Editor"/>
        <MenuLink Href="CustomHeadings" Text="Custom Headings"/>
    </ul>
    <p class="menu-label">Formula</p>
    <ul class="menu-list">
        <MenuLink Href="Formula" Text="Setting Formula"/>
        <MenuLink Href="MultiSheet" Text="Workbooks/Multi-sheet"/>
        <MenuLink Href="NamedVariablesAndRanges" Text="Variables and Named Ranges"/>
    </ul>
    <p class="menu-label">Menu and Advanced</p>
    <ul class="menu-list">
        <MenuLink Href="SheetMenuCustomisation" Text="Custom Menu Items"/>
        <MenuLink Href="Serialisation" Text="Serialisation"/>

    </ul>
</div>

@code{

    private bool _menuExpanded = false;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += NavigationManagerOnLocationChanged;
    }

    private void NavigationManagerOnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _menuExpanded = false;
        StateHasChanged();
    }

    private void ToggleMenu()
    {
        _menuExpanded = !_menuExpanded;
    }


    public void Dispose()
    {
        NavigationManager.LocationChanged -= NavigationManagerOnLocationChanged;
    }

}